/* Custom Styles */

/* Navbar */
.navbar {
    background-color: #ffffff; /* White background for the navbar */
}

/* Body */
body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom right, #27273F, #9A2C8F); /* Gradient background */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff; /* White text color for better contrast */
}

/* Hero Section */
.hero {
    background-image: url("./w6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Ensure the background image covers the entire element */
    height: 500px;
    padding-top: 450px;
    text-align: center;
    color: hotpink;
}

.buttonIt{
    background-image: url("./button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featured-products {
    background-image: url("./w7.png");
    background-position: center;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-size: cover; /* Ensure the background image covers the entire element */
    padding: 50px 0;
    text-align: center;
}



/* Athlete Endorsements Section */
.athlete-endorsements {
    padding: 50px 0;
    text-align: center;
}

/* Community Engagement Section */
.community-engagement {
    padding: 50px 0;
    text-align: center;
}
